{% extends 'base.html' %}
<!-- Is the header -->
{% block header %}

  <h1>{% block title %}How to play{% endblock %}</h1>


{% endblock %}<!--End of header-->

{% block content %}


      <header>
        <a href="/">Back to Menu</a>
        <div>
        </div>

      </header>
      <h2>Here is how to play ww2mania</h2>

      <hr>

      <p>So the rules are simple. Read the text and give <br>
      an answer to the question then you will be sent down a
      path.Your goal is to survive the war.</p>

{% endblock %}
