<!--This is for each user to either log out, log in or register
  It will link of sorts the content-->
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - ww2mania</title>
  </head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <body>
      <main>
        <section class='content'>
          {% block content %}
          <h1>Welcome this is WW2 mania</h1>
          <a href="{{ url_for('game.welcome') }}" class='start-game'>Start Game</a>
          <a href="{{ url_for('game.howtoplay') }}" class='description'>How To Play</a>
          {% endblock %}
        </section>
      </main>
    </body>
</html>
